/* You can add global styles to this file, and also import other style files */
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

.invalid-special-widget{width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;}
